.navItem {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }

  &__control {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;

    & a, & span {
      font-size: 20px;
      font-family: Andika New Basic,sans-serif;
      font-weight: 600;
      color: #4e4e4e;
      position: relative;

      
      &:hover {
        color: #6591f5;
        text-decoration: none;

        // @media(min-width:993px) {
        //   & ul {
        //     opacity: 2;
        //     visibility: visible;
        //     transform: translateY(0);
        //     transition: transform 0.2s ease-in;
        //   }
        // }
      }
    }

    @media(max-width: 992px) {
      & button {
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        font-size: 27px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background-color: cyan;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #a9d4d4;
        }
    }
    }
  }

    

    @media(max-width: 992px) {
      & {
        width: 100%;
        border-bottom: 1px solid white;

        & a {
          padding: 5px 10px ;
          width: 30%;
        }
      }
      
    }
    
    &__mobile {
      //transition: translateX 0.3s ease-in-out;
      width: 100%;
      
      // height: auto;
    }
    
}

.navActive {
  border-bottom: 4px solid #6591f5;
  border-radius: 4px;

  @media(max-width: 992px) {
    & {
      border-bottom: 0px;
    }
  }
}
  @media(min-width: 993px) {
    .navItem {
      & button {
        display: none;
      }
    }
    li.navItem:hover > ul {
      z-index: 10;
      opacity: 2;
      visibility: visible;
      transition: transform 0.2s ease-in;
      transform: translateY(0);
    }
  }
  @media(max-width: 992px) {
    .navItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      
    }

    // li.navItem:hover > ul {
    //   opacity: 2;
    //   visibility: visible;
    //   display: block;
    //   //background-color: #6591f5;
    //   //transform: translateY(0);
    //   transition: transform 0.2s ease-in;
    // }
  }