.nav__desktop {
  display: block;
  width: 100%;
  height: 100%;

  @media(max-width: 992px) {
   & {
     display: none;
   }
  }
}

.nav__mobile {
  
  @media(max-width: 992px) {
    & {
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
}
.nav__mobileHden {
  display: none;
}

