.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.block {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockContent {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.one {
  width: 100%;
}
.two {
  margin-top: 3rem;
  width: 85%;
}
.divRight {
  margin-bottom: 25px;
  background-color: rebeccapurple;
}

.desktop {
  width: 100%;
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}
.notDesktop{
  display: none;
}

@media (max-width: 990px) {
  .two {
    width: 90%;
  }
  .notDesktop {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
  }
  .desktop{
    display: none;
  }
}
@media (max-width: 768px) {
  .two {
    width: 95%;
  }
  .desktop{
    display: none;
  }
  /* .notDesktop {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
  } */
}
@media (max-width: 500px) {
  .two {
    width: 100%;
  }
}
